<link rel="stylesheet" href="/css/chart.css">

<div class="container">
  <div class="row">
    <div class="col-6">
      <div id='myChart'><a class="zc-ref" href="https://www.zingchart.com/">Charts by ZingChart</a>
        <center><h3>Health Score</h3></center>
      </div>
    </div>
    <div class="col-6">
      <div id='myBMI'><a class="zc-ref" href="https://www.zingchart.com/">Charts by ZingChart</a>
        <center><h3>BMI Score</h3></center>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p id="BMIScore">
        <%=BMI%>
      </p>
      <a href="/user/BMICalculator" class="btn btn-outline-warning">BMI Calculator</a>
    </div>
    <div class="col-6">
      <a href="/user/bloodPressure" class="btn btn-outline-warning">Blood Pressure</a>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <!-- <input value="<%=healthScore%>" type="hidden"> -->
      <p id="healthScore">
        <%=healthScore%>
      </p>
      <a href="/user/takeHealthData" class="btn btn-outline-warning">
        <%if(locals.user && locals.user.medicalHistroy==false){%>Create<%}else{%>Update<%}%>
      </a>
    </div>
    <div class="col-6">
      
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      11
    </div>
    <div class="col-6">
      22
    </div>
  </div>
  

</div>
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script src="/js/userHealthScoreChart.js"></script>
<script src="/js/BMICalculator.js"></script>

<script>
  BMIChart(<%=BMI%>);
  userHealthChart(<%=healthScore%>);
</script>
